/* Add to your CSS file */
ul {
    padding-left: 0;
  }
  
li {
    list-style-type: none;
    list-style: none;
    list-style-image: url("medals/ball.png");
}
  
  /* Add to your CSS file */
.score-box {
    width: calc(33.33% - 8px); /* Adjust width as needed */
  }
  
  .score-box p {
    margin-bottom: 4px;
  }
  